<div class="container mb-5 text-center mt-5">
  <h2 class="fs-2 fw-light">C A T E G O R I A S</h2>
  <div class="divider"></div>
</div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center p-1">
    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle relative"
          src="https://images.unsplash.com/photo-1589150339379-edfb6f86b7b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt=""
        />
        <p class="">Feminina</p>
      </div>
    </div>

    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle"
          src="https://images.unsplash.com/photo-1570468120258-c9d28635c69f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
        />
        <p>Masculina</p>
      </div>
    </div>

    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle"
          src="https://images.unsplash.com/photo-1621341103818-01dada8c6ef8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
          alt=""
        />
        <p>Acessórios</p>
      </div>
    </div>

    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle"
          src="https://images.unsplash.com/photo-1589557313308-3b0dde4a7103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          alt=""
        />
        <p>Tendências</p>
      </div>
    </div>

    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle"
          src="https://images.unsplash.com/photo-1542219550-37153d387c27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
        />
        <p>Calçados</p>
      </div>
    </div>

    <div class="col">
      <div class="text-center">
        <img
          class="img-cat rounded-circle"
          src="https://images.unsplash.com/photo-1602079269139-fb99f555d3b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
          alt=""
        />
        <p>Urban</p>
      </div>
    </div>
  </div>
</div>
